# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Logs & system files
logs/
*.log
.DS_Store

# Data & models (optional, if needed)
data/
models/
*.h5
*.pth
*.ckpt

# Python package files
*.egg-info/
dist/
build/

# Credentials & secrets (if applicable)
*.json
*.pem
*.pkl

#general archive file for versions not needed to push
archive/
